<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/home">PLB Infratech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  </div>
  <button type="button" class="btn btn-link" style="color:white" routerLink='/login'>SignOut</button>
</nav>
<div style="text-align:center;margin:250px;"><h1>This is HOMEPAGE</h1></div>
